<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <h4 class="mb-3">Iniciar sesión</h4>

      <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>

      <form [formGroup]="form" (ngSubmit)="submit()" class="card p-3 shadow-sm">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input class="form-control" formControlName="email" type="email" placeholder="tu@email.com">
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input class="form-control" formControlName="password" type="password" placeholder="••••••••">
        </div>
        <button class="btn btn-primary w-100" [disabled]="loading">Entrar</button>
        <div class="mt-3 text-center">
          <a routerLink="/forgot">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </div>
  </div>
</div>
